* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle__bulb {
    width: 60px;
    height: 30px;
    background: url("https://drive.google.com/uc?export=view&id=1MwTxJMgvlrZexoXYTJsnYO-sYSC1D7EV");
    cursor: pointer;
    transition: all 0.25s;
}

.bulb {
    width: 64px;
    height: 86.17px;
    background: url("https://drive.google.com/uc?export=view&id=1r_xHs38M7KtFMJMTfA8SmnTDf00cwanD");
    transition: all 0.35s;
}

body {
    background-color: #434343;
    transition: all 0.5s;
}

.toggle__bulb-active {
    background: url("https://drive.google.com/uc?export=view&id=1v56a4Bnk0713fXBifqAC-f1IVXcc9tCW");
}

.bulb-active {
    background: url("https://drive.google.com/uc?export=view&id=1e1a9Mx0G1p9l7wy2vcOkx6EkSiaOyWVN");
}

.body-active {
    background-color: #f3f3f3;
}

.todo {
    width: 380px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 30px;
    background-color: #d6d6d6;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
}

.input__add {
    border-radius: 5px;
    width: 70%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
}

.button__add {
    height: 40px;
    width: 27%;
    border-radius: 5px;
    color: white;
    background-color: #434343;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
}

.todo__nav {
    margin: 10px 0 20px 0;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

.todo__list-item {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #434343;
    color: white;
    margin-bottom: 10px;
    padding: 0 10px;
    transition: all 0.5s;
    position: relative;
}

.todo__list-item p {
    line-height: 40px;
}

.todo__list {
    margin-bottom: 10px;
    overflow-y: auto;
    flex: 1;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.scrollbar-present{
	padding-right: 5px;
}

.todo__list::-webkit-scrollbar{
	width: 7px; 
	padding-left: 10px;
}

.todo__list::-webkit-scrollbar-track {
	background: #ffffff; 
	border-radius: 5px;
}

.todo__list::-webkit-scrollbar-thumb {
	background-color: #888; 
	border-radius: 5px; 
 }

.todo__list:last-child{
    margin-bottom: 0;
}

.footer__text {
    font-size: 18px;
    color: white;
    text-align: center;
    transition: all 0.5s;
}

footer {
    width: 300px;
    position: absolute;
    bottom: 0;
    padding: 25px 0;
    left: calc(50% - 150px);
}

.active__todo {
    background-color: #f3f3f3;
    color: black;
}

.active__footer {
    color: black;
}

.footer__text-active {
    color: black;
}

.dlt {
    background: url("https://drive.google.com/uc?export=view&id=10HDKleeYCcu-M_OF30PkE2yBHFnIDio3") 0 0/cover;
    width: 26px;
    height: 29px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s;
}

.todo__list-item:hover .dlt {
    opacity: 1;
}

.dlt:hover {
    animation: drog 0.5s linear;
}

@keyframes drog {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(40deg);
    }

    50% {
        transform: rotate(-40deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
    }
}

.counter{
    margin-top: 15px;
}

.active__dlt{
    background: url("https://drive.google.com/uc?export=view&id=1yoNpfWvkTyDJNFSa4mlkCgFcvJEVOzg1") 0 0/cover;
}